.logo-div {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;

  img.logo {
    // height: 8vh;
    padding-top: 10px;
    cursor: pointer;
    width: 400px;
    max-width: 250px;
  }
}

.hero {
  position: relative;
  overflow: hidden;
  min-height: 90vh;
  // min-width: 100vw;
  width: 100vw;
  // background-image: linear-gradient(
  //   to left bottom,
  //   #044049,
  //   #05545f,
  //   #076977,
  //   #087e8f,
  //   #0994a8,
  //   #0994a8,
  //   #0994a8,
  //   #0994a8,
  //   #087e8f,
  //   #076977,
  //   #05545f,
  //   #044049
  // );
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  color: white;

  img.hero-image {
    position: absolute;
    top: 15%;
    right: 0%;
    width: 40vw;
    z-index: -1;
    // margin-top: 20px;
    // width: 100%;
    // height: 100vh;
  }
  .hero-img-overlay {
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -1;
    // background-color: black;
    // background-color: rgb(221, 225, 229);
    width: 50%;
    height: 100vh;
  }

  h1 {
    width: 70%;
    word-wrap: break-word;
    font-size: 4rem;
    font-weight: 700;
    margin: 20px 20px;
    color: white;
    font-family: "Carme-Regular";
    // color: #f14c2c;
  }
  p {
    font-size: 1.1rem;
    margin: 10px 20px;
  }
  .hero-btns {
    position: relative;
    z-index: 50;
    font-family: "HammersmithOne-Regular";
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: flex-start;
    align-items: center;

    button {
      cursor: pointer;
      padding: 20px 30px;
      margin: 20px;
      font-family: "HammersmithOne-Regular";
      border-radius: 10px;
      font-size: 1.2rem;
      background: none;
      transition: all 0.2s linear;

      &:hover {
        transform: scale(1.01);
      }
    }
    button.create-dao-btn {
      background-color: #dbff73;
      color: black;
      border: 1px solid #dbff73;
    }
    button.existing-dao-btn {
      background-color: transparent;
      color: #ffffff;
      border: 1px solid #ffffff;
    }
  }
}

.second-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.conncet-btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 100%;
  padding: 0;
  svg {
    margin-right: 5px;
    cursor: pointer;
    padding: 6px;
    border-radius: 5px;
    &:hover {
      background-color: #4c2ffd;

      // fill: #4c2ffd;
    }
  }
}

div.push-box {
  background-color: rgb(21, 22, 25);
  color: rgb(255, 255, 255);
  transition: box-shadow 300ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
  box-shadow: none;
  border: 1px solid rgb(45, 45, 45);
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.03) 0%,
    rgba(255, 255, 255, 0.03) 100%
  );

  button.push-btns {
    cursor: pointer;
    padding: 10px;
    box-shadow: none;
    background-color: #fefcfc;
    border: 1px solid #fefcfc;
    margin-left: 20px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    color: #4c2ffd;
  }
}
@media only screen and (max-width: 1200px) {
  .hero {
    padding: 10px;
    h1 {
      font-size: 2rem;
      text-align: center;
      width: 100%;
      margin: 0px;
      margin-top: 100px;
      padding: 10px;
    }
    p {
      text-align: center;
    }

    .hero-btns {
      margin: 0 auto;
      width: 100%;
      justify-content: center;
      align-items: center;
      button {
        padding: 10px 15px;
        font-size: 1rem;
        margin: 5px;
      }
    }
    img.hero-image {
      top: 5%;
      right: 0%;
      width: 180%;
      // width: 100vw;
    }
    .hero-img-overlay {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  .logo-div {
    img.logo {
      // height: 8vh;
      padding-top: 10px;
      cursor: pointer;
      width: 150px;
      max-width: 150px;
    }
  }
}
