.register-main-div {
  width: 100%;
  text-align: center;
}
#dropdown-formcontrol {
  min-width: 220px !important;
}
.register-main {
  padding: 20px;
  width: 30%;
  margin: 10% auto;
  border: 1px solid gray;
}
.register-title {
  padding: 10px;
}
