.register-main-div {
  width: 100%;
  text-align: center;
}
#dropdown-formcontrol {
  min-width: 220px !important;
}
.register-main {
  padding: 40px;
  width: 35%;

  margin: 5% auto;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px, rgb(0 0 0 / 23%) 0px 0px 3px -2px,
    rgb(0 0 0 / 17%) 0px 0px 25px;
  // background-image: linear-gradient(
  //   rgba(255, 255, 255, 0.09),
  //   rgba(255, 255, 255, 0.09)
  // );
  background: #1a1156;
  border-radius: 10px;
}
.register-title {
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  font-size: 2rem;
  font-family: "Carme-Regular";
  letter-spacing: 5px;
  text-transform: uppercase;
}
#register-file {
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  border-color: rgba(255, 255, 255, 0.5) !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: rgba(255, 255, 255, 0.5) !important;
}
.css-xn6ruc > :not(style) {
  margin: 10px !important;
  width: 38ch !important;
}
.select-label-status {
  font-family: "HammersmithOne-Regular";
}
.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root-Mui-focused {
  color: rgba(0, 0, 0, 0.6) !important;
}
.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
  color: rgba(255, 255, 255, 0.5) !important;
}
.css-1x51dt5-MuiInputBase-input-MuiInput-input:focus {
  outline: none !important;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  font-family: "HammersmithOne-Regular" !important;
}
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  font-family: "HammersmithOne-Regular" !important;
  color: rgba(255, 255, 255, 0.5) !important;
}
.css-v4u5dn-MuiInputBase-root-MuiInput-root:after {
  border-bottom: none !important;
}
.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
  font-family: "HammersmithOne-Regular" !important;
  font-size: 17px !important;
}
.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  font-family: "HammersmithOne-Regular" !important;
  font-size: 15px !important;
}
.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  font-family: "HammersmithOne-Regular" !important;
  font-size: 15px !important;
  color: white !important;
}
.register-btn {
  background: linear-gradient(to bottom, #9982ed 0%, #f879b6 100%);
  color: #ffffff;
  border: none;
  width: 30%;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 15px 10px;
  margin-top: 50px;
  font-family: "HammersmithOne-Regular";
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 3px;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: white !important;
}
.css-v4u5dn-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
  color: rgba(255, 255, 255, 0.5) !important;
}
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
  color: white !important;
}
.css-v4u5dn-MuiInputBase-root-MuiInput-root {
  color: white !important;
}
.register-main-div .shape1 {
  position: absolute;
  top: -25%;
  left: 0;
  z-index: -1;
}

.register-main-div .bubble3 {
  top: 40%;
  left: 11%;
  position: absolute;
}
.register-main-div .bubble4 {
  top: 15%;
  right: 11%;
  position: absolute;
}
.register-file {
  margin-top: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-lbl {
  font-family: "HammersmithOne-Regular" !important;
  font-size: 15px !important;
  letter-spacing: 1px;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 16.5px 55px;
}
