.all-datadao-main-div {
  width: 100%;
  margin: 20px auto;
  max-width: 1240px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.all-datadao-div {
  margin: 0 auto;
}
.all-datadao-title {
  text-align: center;
  padding: 10px;
}
.all-datadao-section1 {
  padding: 10px;
}
.datadao-address {
  /* background-color: aqua; */
  /* width: 150px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: max-content;
  padding: 5px 0px;
  font-size: 1rem;
  font-weight: 600;
  color: #fefcfc;
  /* border: 1px solid #4c2ffd; */
  /* padding: 10px; */
}
.all-datadao-section2 {
  /* width: 60%; */
  margin: 0 auto;
}
.dataDAo-details {
  width: 20%;
}
button.view-more-all-dao {
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #4c2ffd;
  color: #fefcfc;
  border: 1px solid #4c2ffd;
  border-radius: 5px;
}
.first-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 23px;
  border-right: 1px solid gray;
}
.second-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 23px;
  border-right: 1px solid gray;
}
.third-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.manufacture-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
