.all-datadao-main-div {
  width: 100%;
  margin: 20px auto;
  max-width: 1240px;
  display: flex;
  padding: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.all-datadao-div {
  margin: 0 auto;
}
.all-datadao-title {
  text-align: center;
  padding: 10px;
}
.all-datadao-section1 {
  padding: 10px;
}
.datadao-address {
  /* background-color: aqua; */
  /* width: 150px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: max-content;
  padding: 5px 0px;
  font-size: 1rem;
  font-weight: 600;
  color: #fefcfc;
  /* border: 1px solid #4c2ffd; */
  /* padding: 10px; */
}
.all-datadao-section2 {
  /* width: 60%; */
  margin: 0 auto;
}
.dataDAo-details {
  width: 20%;
}
button.view-more-all-dao {
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #4c2ffd;
  color: #fefcfc;
  border: 1px solid #4c2ffd;
  border-radius: 5px;
}
.first-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-right: 23px; */

  padding: 0px 20px;
  height: 27vh;
}
.second-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  height: 27vh;
}
.third-row {
  display: flex;
  padding: 0px 20px;
  height: 27vh;
  flex-direction: column;
  align-items: center;
}
.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "HammersmithOne-Regular" !important;
  margin-top: 20px;
  letter-spacing: 2px;
  font-size: 1rem;
  letter-spacing: 1px;
  font-size: 13px;
}
.manufacture-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "HammersmithOne-Regular" !important;
  margin-top: 20px;
  letter-spacing: 1px;
  font-size: 13px;
}
.transfer-main-div {
  text-align: center;
  margin: 5% auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px,
    rgba(0, 0, 0, 0.23) 0px 0px 3px -2px, rgba(0, 0, 0, 0.17) 0px 0px 25px;
  background: #1a1156;
  border-radius: 20px;
  padding: 50px 20px;
  width: 80%;
}
.manufacture-details-quality {
  padding: 10px 0px;
}
.transfer-btn {
  background: linear-gradient(to bottom, #9982ed 0%, #f879b6 100%);
  color: #ffffff;
  width: 20%;
  font-size: 15px !important;
  font-weight: 500 !important;
  padding: 10px !important;
  border-radius: 10px !important;
  font-family: "HammersmithOne-Regular" !important;
  letter-spacing: 3px !important;
}
.transfer-history {
  color: black;
  font-family: "Carme-Regular";
  background-color: white;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 1rem;
  letter-spacing: 3px;
  font-weight: 600;
}
