.viewproduct-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.css-1nslmh4-MuiTableCell-root.MuiTableCell-head {
  background-color: #1a1156 !important;
}
.css-1wvnaxz-MuiTableCell-root.MuiTableCell-head {
  background-color: #1a1156 !important;
}
.view-More {
  text-align: center;
  /* background: linear-gradient(to bottom, #9982ed 0%, #f879b6 100%); */
  background: none;
  color: #ffffff;
}
.css-jh47zj-MuiButtonBase-root-MuiButton-root {
  background: none !important;
  box-shadow: none !important;
  color: blue !important;
  font-size: 12px !important;
  padding: 16px !important;
}
